/*
metro.css
Metro stops by @filau.
Distributed under the conditions of the LGPL-3.0 license.
*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

:root {
    --metro-line-color: rgb(42, 169, 248);
    --metro-stop-color: white;
    --metro-stop-font: 'Jost', sans-serif;
}

.filau-metro {
    border-left: solid var(--metro-line-color) 20px;
    margin-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    border-radius: 10px;
}

.filau-metro > div {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--metro-stop-font);
    font-size: 30px;
}

.filau-metro > div > div {
    display: inline-block;
    vertical-align: middle;
}

.filau-metro > div > div:first-child {
    font-size: 60%;
    filter: invert(30%);
    width: 60px;
    max-width: 60px;
}

.filau-metro > div::before {
    position: absolute;
    transform: translateX(-75px) translateY(-3px);
    content: "";
    display: block;
    padding: 15px;
    border: solid var(--metro-line-color) 10px;
    border-radius: 50%;
    background-color: var(--metro-stop-color);
}
